
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>jquery events</title>


    </head>
    <body>
        <div>
            <h2 class="text-center">
                For Advertisements mouse over here and then click on the picture
                <a id="bootcamp" href="https://cas.afdemp.org/register/candidate" target="_blank"><img class="mx-auto d-block" src="/Content/Images/codingBootcamp.jpg" alt="pali" height="150" width="300"></a>
            </h2>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
        <script>
            $("h2").on('mouseenter', () => {   //sto idio stoixeio kolaw polles methodous jquery me . ayto shmainei chaining!!!
                $("#bootcamp").show();
        }).on('mouseleave', () => {
            $("#bootcamp").hide();
        });
            </script>

    </body>






